
*.json
*.old
*.pack
portfolio/node_modules/.cache/default-development/0.pack
portfolio/node_modules/.cache/.eslintcache
portfolio/node_modules/.cache/default-development/0.pack
portfolio/node_modules/.cache/default-development/index.pack.old
