.home-component{
    background-color: #000000;
    width: 100%;
    height: 80vh;
    color: white;
    padding-top: 30vh;
}
.apresentation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 30px;
    height: 45vh;
}
.apresentation-redes{
    height: 100%;
    display: flex;
    align-items: center;
    flex: 1;
}
.list-redes {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    list-style-type: none;
}
.list-redes li {
    margin: 5px 0 0 0;
}
.icons {
    font-size: 30px;
    opacity: .7;
    transition: .3s;
}
.icons:hover {
    opacity: 1;
    transition: .3s;
}
.apresentation-tittle{
    flex: 5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px 0 0;
}
.tittles-box{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.tittle{
    font-size: 60px;
    margin: 0 0 0 -20px;
}
.subtittle{
    letter-spacing: 4px;
    margin: 0 0 0 30px;
}
.subtittle::after {
    content: "|";
    margin-left: 5px;
    opacity: 1;
    animation: writeeffect .7s infinite;
}
.image-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
}
.image{
    width: 100%;
    margin: 0px 0 0 0px;
}

/*Animation*/

@keyframes writeeffect {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/*Media queries*/

@media screen and (max-width:1200px){
    .tittles-box {
        flex:2;
    }
    .tittle {
        font-size: 50px;
        margin: 0 0 0 0;
    }
    .subtittle {
        font-size: 19px;
    }
    .image-box{
        flex:1;
    }
    .image{
        width: 100%;
    }
}
@media screen and (max-width: 780px){
    .home-component {
        padding-top: 23vh;
    }
    .apresentation{
        flex-direction: column;
    }
    .tittles-box {
        justify-content: center;
        align-items: center;
    }
    .list-redes{
        flex-direction: row;
    }
    .list-redes li {
        margin: 0 10px 0 0;
    }
    .apresentation-tittle{
        flex-direction: column-reverse;
    }
    .image-box{
        width: 50vh;
    }
}
@media (max-width: 460px){
    .tittle {
        font-size: 37px;
        margin: 0 0 0 0;
    }
    .subtittle {
        font-size: 10px;
    }
}