.about-component{
    height: 80vh;
    color: white;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25vh 10vh 0 10vh;
    
}
.sobre{
    flex: 1;
    width: 100%;
    text-align: start;
    margin: 0 0 -25vh 0;
    flex-wrap: wrap;
}
.skills-images{
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}
.skills-box{
    flex: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
}
.images-box{
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
}
.icon {
    font-size: 50px;
    z-index: 0;
}
.animation {
    animation: rotate 5s linear infinite;
}

/*animations*/
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

/*Media queries*/
@media (max-width: 910px) {

    .about-component{
        height: 100vh;
        padding: 15vh 10vh 0 10vh;
    }
    .skills-images {
        flex-direction: column;
        align-items: center;
    }

    .skills-box {
        width: 100%;
    }
    .images-box {
        display: none;
    }
  
}
@media (max-width: 660px){
    .sobre {
        margin: 0 0 -25vh 0;
        font-size: 14px;
    }
}
@media (max-width: 460px){
    .sobre {
        margin: 0 0 -15vh 0;
        font-size: 12px;
    }
}

@media (max-width: 385px){
    .sobre{
        margin: 0 0 -5vh 0;
    }
}
